.timer{
	color: #FFF;
	font-size: x-large;
}
.timer_body{
	position: relative;
    left: 20%;
	height: 20px;
	overflow: hidden;
}
.timer div div{
	position: relative;
    float: left;
}
.que{
	padding: 20px 20px 10px;
}
.options{
	padding: 10px 20px 20px;
}
.options ul li{
	list-style: none;
	padding: 1px;
}
.options ul li span {
    padding-right: 8px;
}
.response{
	padding: 0px 20px;
}
.response input{
	padding: 5px;
	width: 33.333333%;
	float: left;
	color: #FFF;
	font-weight: bold;
	height: 45;
    border-width: 0px;
	font-size: large;
}
.response input:nth-child(1){
	background-color: rgba(255, 244, 1,0.7);
}
.response input:nth-child(2){
	background-color: rgba(2, 210, 2,0.7);
}
.response input:nth-child(3){
	background-color: rgba(255, 0, 0,0.7);
}
.response input:nth-child(1):focus{
	box-shadow: 0px 0px 6px rgb(250, 242, 71);
    outline-color: rgb(250, 242, 71);
}
.response input:nth-child(2):focus{
	box-shadow: 0px 0px 6px rgb(72, 218, 72);
    outline-color: rgb(72, 218, 72);
}
.response input:nth-child(3):focus{
	box-shadow: 0px 0px 6px rgba(255, 0, 0, 0.8);
    outline-color: rgb(250, 71, 71);
}
.timer div ul {
    position: relative;
    top: -10px;
}
.timer div ul li {
    list-style: none;
	position: relative;
}
.timer div ul li h3{
	position: relative;
}
.timer div ul li:nth-child(2){
	top: -17px;
}
.timer div ul li:nth-child(2) h3{
	display: none;
}
@keyframes digitup{
	from{top: 0px;}
	to{top: -20px;}
}
.moveup_ud{
	animation: digitup 1s infinite;
	top: 0px;
}
.moveup_ld{
	animation: digitup 1s infinite;
	top: 0px;
	display: none;
}
.logout{
	text-decoration: none;
    color: #FFF;
    font-weight: 700;
    position: relative;
    left: 70%;
    font-size: 25px;
}